.entire {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.common {
    flex-shrink: 0;
    box-sizing: border-box;
}

.headercontainer {
    display: flex;
    height: 60px;
    align-items: center;
    padding: 6px;
}

.last4 {
    display: inline-block;
    flex-grow: 1;
    height: 48px;
}


a.b2:first-of-type {
    margin-left: 15px;
}

.b2 {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
}

.containl4 {
    display: flex;
    height: 48px;
    float: right;
}

.l4contain {
    display: flex;
    height: 48px;
    align-items: center;
    padding-left: 32px;
}

.t1 {
    padding-right: 15px;
}

.google {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.searchbar {
    margin-top: 15px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 584px;
    max-width: 584px;
}

button {
    margin-top: 50px;
    margin-bottom: 75px;
}

.googleSearch {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.imFeelingLucky {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.emptySpace {
    height: 150px;
}

.footercontainer {
    background: #f2f2f2;
}

.f1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.f2 {
    padding: 0 20px;
}

.ab2 {
    justify-content: flex-end;
    min-width: 30%;
    order: 3;
    align-items: center;
}

.work {
    align-items: center;
}

.fl2 {
    justify-content: flex-start;
    padding: 25px;
    order: 1;
}

.fr2 {
    display: block;
    padding: 15px;
    white-space: nowrap
}